html{
    background-image: url(./imagem.jpeg);
    background-size:cover
}

.titulo{
    color: black;
    text-align: center;
    border: 4px dashed black  ;
    font-family: sans-serif;
    padding: 10px;
    margin-right: 15%;
    margin-left: 15%;
    position: relative;
}
 
.header{
    
}

.Sumário ul{
    list-style: none;
    font-family:sans-serif;
}

.Sumário li{
    display: inline;
    padding: 20px;
    cursor: pointer;
    font-family:sans-serif;
}

.Sumário{
    font-family: sans-serif;
    position: absolute;
    right: 90px;
    bottom: 435px;
}

.menu{
    border: solid black;
}

.armas{
    border: solid black;
}

.bestiario{
    border: solid black;
}

.magia{
    border: solid black;
}
     
.lores{
    border: solid black;
}

#Introdução{
    position: absolute;
    bottom: 250px;

    
}


